services:
  webui:
    # image: "ghcr.io/yummiii/sd-webui-forge-docker:latest"
    build: .
    user: root
    ports:
      - "7860:7860"
    environment:
      - "ARGS=--api --listen"
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
